<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
 codebase="" id="player" width="360" height="640">
  <param name="movie"  value="player/flashlsChromeless.swf" />
  <param name="quality" value="high" />
  <param name="swliveconnect" value="true" />
  <param name="allowScriptAccess" value="sameDomain" />
  <param name="bgcolor" value="#0" />
  <param name="allowFullScreen" value="true" />

  <embed src="player/flashlsChromeless.swf" width="360" height="640" name="player"
              quality="high"
              bgcolor="#0"
              align="middle" allowFullScreen="true"
              allowScriptAccess="sameDomain"
              type="application/x-shockwave-flash"
              swliveconnect="true"
              pluginspage="http://www.macromedia.com/go/getflashplayer" >
  </embed>
</object>

<div id="overlay">
  <h1 id="broadcaster-name"></h1>
  <h2 id="stream-caption"></h2>
  <h3 id="stream-location"></h3>
</div>

<div id="controls">
  <p id="timer"></p>
  <a id="pause">Pause</a>
  <a id="skip">Skip</a>
</div>

<script src="javascript/live.js"></script>