<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
 codebase="" id="player" width="360" height="640">
  <param name="movie"  value="player/flashlsChromeless.swf" />
  <param name="quality" value="high" />
  <param name="swliveconnect" value="true" />
  <param name="allowScriptAccess" value="sameDomain" />
  <param name="bgcolor" value="#0" />
  <param name="allowFullScreen" value="true" />

  <embed src="player/flashlsChromeless.swf" width="360" height="640" name="player"
              quality="high"
              bgcolor="#0"
              align="middle" allowFullScreen="true"
              allowScriptAccess="sameDomain"
              type="application/x-shockwave-flash"
              swliveconnect="true"
              pluginspage="http://www.macromedia.com/go/getflashplayer" >
  </embed>
</object>

<div id="overlay">
  <h1 id="broadcaster-name"></h1>
  <h2 id="stream-caption"></h2>
  <h3 id="stream-location"></h3>
</div>

<script>
  var getRandomStream = function(callback){
    $.ajax({
      url: '/live',
      dataType: 'json',
      success: function(data){
        loadBroadcastData(data.stream_id, callback);
      }
    });
  };
  
  var loadBroadcastData = function(stream_id, callback) {
    $.ajax({
      url: 'https://resources.meerkatapp.co/broadcasts/'+ stream_id +'/summary',
      dataType: 'json',
      success: callback
    });
  }
  
  var loadPlayerWithUrl = function(url) {
    var obj = getFlashMovieObject("player");
    if (obj != null) {
      obj.playerLoad(url);
      obj.playerPlay();
    }
  }
  
  var getFlashMovieObject = function(movieName) {
    if (window.document[movieName]) {
        return window.document[movieName];
    }
    if (navigator.appName.indexOf("Microsoft Internet")==-1) {
      if (document.embeds && document.embeds[movieName])
        return document.embeds[movieName];
    } else {
      return document.getElementById(movieName);
    }
  }
  
  var updateInfo = function(data) {
    $('#broadcaster-name').text(data.broadcaster.displayName);
    $('#stream-caption').text(data.caption);
    $('#stream-location').text(data.location);
  }
  
  var playRandomStream = function() {
  
    getRandomStream(function(broadcast){
      console.log(broadcast);
      updateInfo(broadcast.result);
      loadPlayerWithUrl(broadcast.followupActions.playlist);
    });
  }
  
  setInterval(playRandomStream, 30*1000);
  playRandomStream();
</script>